<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
   <display-name>
    Wildstar Technologies, LLC. Google AppEngine JSF 2.0 Template
   </display-name>
   <description>Template JSF 2.0 application configured to run on the Google
    AppEngine for Java. Spring Integration.
   </description>
  	
  	<!-- Add Support for Spring -->	
  	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
  	</listener>
  	<listener>
		<listener-class>
			org.springframework.web.context.request.RequestContextListener
		</listener-class>
  	</listener>   
  
	<!-- Add Support for Spring -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:META-INF/spring/applicationContext.xml</param-value>
	</context-param>

	<!-- Prime Faces Theme -->
	<context-param>
		<param-name>primefaces.THEME</param-name>
		<param-value>overcast</param-value>
	</context-param>  
    	  
   <!-- ***** FIXME AppEngine javax.faces.application.ViewExpiredException View could not be restored. *****  -->
   <context-param>
      <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
      <param-value>client</param-value>
   </context-param>
   <context-param>
      <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
      <param-value>.xhtml</param-value>
   </context-param>
   <!-- Recommendation from GAE pages  -->
   <context-param>
	   <param-name>javax.faces.PROJECT_STAGE</param-name>
	   <param-value>Production</param-value>
   </context-param>
    <context-param>
        <param-name>com.sun.faces.expressionFactory</param-name>
        <param-value>com.sun.el.ExpressionFactoryImpl</param-value>
    </context-param>
   <!-- ***** Accommodate Single-Threaded Requirement of Google AppEngine  -->
   <context-param>
      <description>
         When enabled, the runtime initialization and default ResourceHandler
         implementation will use threads to perform their functions. Set this
         value to false if threads aren't desired (as in the case of running
         within the Google Application Engine).

         Note that when this option is disabled, the ResourceHandler will not
         pick up new versions of resources when ProjectStage is development.
      </description>
      <param-name>com.sun.faces.enableThreading</param-name>
      <param-value>false</param-value>
   </context-param>
	<!-- ***** Load the JavaServer Faces Servlet ***** -->
    <context-param>
        <param-name>com.sun.faces.enableMultiThreadedStartup</param-name>
        <param-value>false</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <!-- Map these files with JSF -->
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.faces</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>

	<!-- FIXME AppEngine javax.faces.application.ViewExpiredException View could not be restored. -->
	<filter>
		<display-name>NoCacheFilter</display-name>
		<filter-name>NoCacheFilter</filter-name>
		<filter-class>com.davlanca.billmanager.filter.NoCacheFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>NoCacheFilter</filter-name>
		<url-pattern>*.jsf</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>NoCacheFilter</filter-name>
		<url-pattern>*.faces</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>NoCacheFilter</filter-name>
		<url-pattern>*.xhtml</url-pattern>
	</filter-mapping>
 	
	<!-- ***** Specify session timeout of thirty (30) minutes. ***** -->
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/login.xhtml</welcome-file>
    </welcome-file-list>
</web-app>